body {
	min-width: 480px;
	background: #EAEDF0;
	margin: 0;
}
.block {
	width: 480px;
	margin: 0 auto;
	padding: 0;
}
.prod {
	width: 480px;
	margin: 0 auto;
	padding: 0;
}
.prod h1 {
	font-size: 42px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	color: #4453F9;
}
.prod p {
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	color: #000000;
}
.prod_photo img {
	width: 480px;
}
.desc p {
	font-size: 24px;
	color: #000000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: justify;
}
.preim p {
	width: 480px;
	border: 1px solid blue
}
.preim p img {
	width: 480px;
}
.price {
	font-size: 36px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #272727;
	text-align: center;
	font-weight: bold;
}
.action {
	font-size: 36px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #436363;
	text-align: center;
	font-weight: bold;
}
.buy {
	color: #6F6E71;
	background-color: #E3E3E3;
	font-size: 36px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}